@model Orion.Web.Models.TripDataModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TripDataModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TripId" />
            <div class="form-group">
                <label asp-for="Pickup_Datetime" class="control-label"></label>
                <input asp-for="Pickup_Datetime" class="form-control" />
                <span asp-validation-for="Pickup_Datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dropoff_Datetime" class="control-label"></label>
                <input asp-for="Dropoff_Datetime" class="form-control" />
                <span asp-validation-for="Dropoff_Datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passenger_Count" class="control-label"></label>
                <input asp-for="Passenger_Count" class="form-control" />
                <span asp-validation-for="Passenger_Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip_Distance" class="control-label"></label>
                <input asp-for="Trip_Distance" class="form-control" />
                <span asp-validation-for="Trip_Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pickup_Longitude" class="control-label"></label>
                <input asp-for="Pickup_Longitude" class="form-control" />
                <span asp-validation-for="Pickup_Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pickup_Latitude" class="control-label"></label>
                <input asp-for="Pickup_Latitude" class="form-control" />
                <span asp-validation-for="Pickup_Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dropoff_Longitude" class="control-label"></label>
                <input asp-for="Dropoff_Longitude" class="form-control" />
                <span asp-validation-for="Dropoff_Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dropoff_Latitude" class="control-label"></label>
                <input asp-for="Dropoff_Latitude" class="form-control" />
                <span asp-validation-for="Dropoff_Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fare_Amount" class="control-label"></label>
                <input asp-for="Fare_Amount" class="form-control" />
                <span asp-validation-for="Fare_Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
