@{
    ViewData["Title"] = "Map Page";
}

@section Header{
    <link rel="stylesheet" href="~/css/map.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/css/leaflet.css" />

    <script src="~/js/leaflet.js"></script>
    <script src="~/js/Polyline.encoded.js"></script>
}


<div class="container">
    <br />
    <div class="row">
        <div class="form-group">
            <div class='col-sm-4'>
                <div class='input-group date' id='datetime_from'>
                    <input type='text' class="form-control" id="startTime" name="startTime" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='input-group date' id='datetime_to'>
                    <input type='text' class="form-control" id="endTime" name="endTime" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class='col-sm-2'>
                <button type="submit" class="btn btn-default" id="requestTimeRange">Range Submit</button>
            </div>
            <div class='col-sm-2'>
                <button type="submit" class="btn btn-default" id="requestActive">Active Submit</button>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class='col-sm-12'>
            <div id="mapid"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/map.js"></script>
}