@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet"
          href="~/lib/leaflet/leaflet.css" />
}

<div id="map" style="width: 1280px; height: 720px"></div>

@section Scripts{
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/js/Polyline.encoded.js"></script>
    <script>

        $.ajax({
            dataType: "text",
            url: "./res/linkinfo.csv",
            success: success
        });

        function success(data) {
            var items = data.split('\n');
            var map = L.map('map').setView([40.81376, -73.93128], 8);
            mapLink =
                '<a href="http://openstreetmap.org">OpenStreetMap</a>';
            L.tileLayer(
                'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; ' + mapLink + ' Contributors',
                    maxZoom: 18,
                }).addTo(map);

            $.each(items, function (idx, item) {
                polyline = item.split(',')[1];
                if (idx !== 0) {
                    try {
                        L.Polyline.fromEncoded(polyline).addTo(map);
                    } catch(e){
                        console.log(idx + " " + polyline);
                    } 
                }
            });
        }

    </script>
}